html{
	scroll-behavior: smooth;
	}
	body,html,section,h1,p{
		margin: 0px;
		box-sizing: border-box;
		padding: 0px;
	
	}
	
	
	.home{
		position: relative;
		width: 100%;
		background-color:#fff;
		
		}
	.home .background{
		width: 100%;
		filter:brightness(30%);
	}
	
	.home div{
		position: absolute;
		width: 70%;
		left:14.5%;
		z-index: 3;
		right:15%;
		top: 2%;
		padding: 10px;
		text-align:center;
	
	}
	
	.home div .logo{
	width:30%;
	background-color: #ffc107;
	border-radius: 60%;
	}
	.home div h1{
		color: white!important;
		font-size: 4vw;
		background-color:#111;
		padding: 20px 0px 0px 0px;
		margin-top:2%;
		color: #ffc107;
		font-family: 'Chilanka', cursive;
		font-weight: bolder;
	}
	
	.home div p{
		color: #fff;
		font-size: 2vw;
	}
	
	.home .btn{ 
		width: 13vw;
		color: #222;
		font-weight: bold;
		
		font-size: 1.5vw;
	}
	.home .btn:hover{ 
	color: #eee;
	}


/* ********************** ABOUR Section ***************/
.about_section{
	width: 100%;
padding: 40px 10px;
text-align: center;
margin-top: 40px;
	padding-top: 40px;
	font-family: 'Chilanka', cursive;
}
.about_section .supercont{
	width: 80%;

margin: 0px auto;
}
.about_section .container{
	display: flex;
	align-items: center;
}

.about_section .items{
	flex:1 1 400px;
}
.verticle div{
	margin-bottom: 5px;
}
.about_section div h1{
	font-weight: bolder;
	font-size: 4vh;
	margin: 0px;
	text-transform: capitalize;
}

.about_section i{
	color: #ffc107;
	font-size: 3vw
}
.about_section div p{
	font-size: 1.5vw;
	text-align:left;
	width: 85%;
	margin: 0px auto;
}



/* *********************** Order Section ********/
#order {
	background-image:url("../images/pizza.png");
	background-repeat: no-repeat;
	background-size:23%;
	background-attachment: scroll;
	background-position:center;
	background-color: rgba(200,200,200,.1);
	font-family: 'Chilanka', cursive;

  }
  #order .container{
	display: flex;
	width: 80%;
	
	margin: 0px auto;
	text-align: center;
  }
  #order .container .item{
	flex:1 1 400px;
	padding: 15px;
  }

  #order form{
	display: table;
	
	font-weight: bolder;
	margin: 0px auto;
  }
  #order form input[type=number]{
	  width: 50px;
	  padding: 5px;

	  border-radius: 10px;
  }
  select{
	  border: 2px solid #ffc107;
	  padding: 5px;
	  border-radius: 10px;
  }

  #order form label{
display:block;
margin: 10px 0px;
  }
  #order .logo{
	width: 20%;
	display: block;
	margin: 0px auto
  }

h1{
  color: brown!important;
  font-weight: bolder;
  font-family: 'Chilanka', cursive;
}
/*********************************** Footer section *******************/

.footer_section{
	padding:40px 0px 20px 0px;
	background: #ffc107;
	font-size:20px;
font-weight: bolder;
color: #111;
}

/*********************************** Media queries section *******************/


@media screen and (max-width: 700px){

	.about_section .container{
		flex-direction: column-reverse;
}
	#order .container{
		flex-direction: column;
}
	 #order {
	 	background: none;
	 }


}